<p>form works!</p>

<h3>Using CSS to style an HTML Form</h3>
<h1>Template-driven Form Example (with bi-directional data binding):</h1>
<div>
  <form #basicForm="ngForm" (ngSubmit)="getSimpleData(basicForm.value)">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name.." ngModel >

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name.." ngModel>
    
    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>
  
    <button type="submit" value="Submit"> Submit</button>
  </form>
   <!-- {{getValue()}} -->
  <!-- <app-home></app-home> -->
</div>