<p>form-post-api works!</p>
<h1>Reactive Form Form Example</h1>
<div>
  <form [formGroup]="jobFrom">
    <label for="fname">Job Name</label>
    <input
      type="text"
      id="fname"
      name="job_name"
      formControlName="job_name"
      />
    <span
      *ngIf="jobname && jobname.invalid && jobname.touched"
      style="color: red"
      >this field is required</span
    ><br />
   
    <button type="submit" value="Submit" [disabled]="jobFrom.invalid"  (click)="jobformData()">
      Submit
    </button>
  </form>
 
</div>