
<div>
  <form [formGroup]="attendece_form">
    <label>User_id : </label>
    <input disabled="true" value="620a423ef63cee0008ef41b6" /><br /><br />
    <label>Select date : </label>
    <input formControlName="date" type="date" /><br /><br />
    <table id="data">
      <tr>
        <th>In time <button (click)="addIntime()">Add</button></th>
        <th>Out time <button (click)="addOuttime()">Add</button></th>
      </tr>
      <tr>
        <td>
          <ng-container
            *ngFor="let item of attendece_form.get('in_time').controls; index as i"
          >
            <div formArrayName="in_time">
              <input formControlName="{{ i }}" type="time" />
              <button (click)="deleteIntime(i)">Delete</button>
            </div>
          </ng-container>
        </td>
        <td>
          <ng-container
            *ngFor="let item of attendece_form.get('out_time').controls; index as l"
          >
            <div formArrayName="out_time">
              <input formControlName="{{ l }}" type="time" />
              <button (click)="deleteOuttime(l)">Delete</button>
            </div>
          </ng-container>
        </td>
      </tr>
    </table>
    <br />
    <label>Log type : </label>
    <select formControlName="log_type">
      <option value="1">Regularize</option>
      <option value="2">Work from home request</option></select
    ><br /><br />
    <label>Reason : </label><br />
    <textarea formControlName="reason"></textarea><br />
    <span style="color: red" *ngIf="error">Please fill all field</span>
    <span style="color: green" *ngIf="success">Form has been submitted</span
    ><br />
    <button [disabled]="attendece_form.invalid" (click)="submitAllData()">Submit</button>
  </form>
</div>
