<p>home works!</p>

<table border="1" id="data">
  <tr>
    <td>Job ID</td>
    <td>Job Name</td>
    <td>Operation</td>
    <td>Editable</td>
  </tr>
  
  <tr *ngFor="let user of users.data.list">
    <td>{{ user.job_id }}</td>
    <td>{{ user.job_name }}</td>
    <td>
      <button (click)="deleteJob($event)" value="{{ user.job_id }}">
        Delete
      </button>
    </td>
    <td>
      <button (click)="editjobname($event)" value="{{ user.job_id }}">
        Edit 
      </button>
    
     
    </td>
  </tr>
</table>

<div id="pagi">
  <button
    *ngIf="users.data.pagination.has_previous"
    id="button-1"
    (click)="prev()"
  >
    Prev
  </button>
  <button *ngIf="users.data.pagination.has_next" id="button-2" (click)="next()">
    Next
  </button>
</div>
